@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins' ;
   
}
body{
    scroll-behavior: smooth;
    background-color: rgb(26, 28, 28);
}

.body1{
    background:  rgb(26, 28, 28);
    
    height: 100vh;
}
ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    animation: list 2.9s ease-out forwards;
    position: relative;

}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(42, 216, 255);
}
@keyframes list {
    0%{
       top: -200px; 
    }
    100%{
       top: 0 ;
    }
}

li{
    margin-left: 70px;
    margin-top: 1%;
   font-size: 17px;
   font-weight: 600;
   border-bottom: 3px;
   padding-bottom: 5px;
}
.last{
  margin-left: auto;
  padding: 10px;
  border-radius: 50%;
  
 
}
.last:hover{
    background-color: rgb(42, 216, 255);
    stroke: #000;
}

li:hover{
    color: rgb(42, 216, 255);
    cursor: pointer;
    border-bottom-color: rgb(42, 216, 255);
}

h1{
    font-size: 4rem;
    color: rgb(42, 216, 255);
    margin-left: 69px;
    margin-top: 180px;
    letter-spacing: 3px;
    font-weight: bold;
    animation: head1 1.5s  ease;
}

@keyframes head1 {
    0%{
       margin-left: 140px;
       opacity: 0;
    }
    100%{
       margin-left: 70px;
       opacity: 1;
    }
}

.first{
    margin-left: 70px;
    color: white;
    margin-top: 10pt;
    animation: firstt 2s ease;
}
@keyframes firstt {
    0%{
        margin-left: 120px;
        opacity: 0;
    }
    100%{
        margin-left: 70;
        opacity: 0.9;
    }
    
}
.button{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 40px -7px;
}
.first2{
    margin-top: 14pt;
    width: 53%;
    margin-left: 70px;
    letter-spacing: 1px;
    color: white;
    animation: first22 2.8s;
}
h2{
    color:  rgb(255, 255, 255);
   margin-left: 34%;
   margin-top: 1%;
   margin-bottom: 1%;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 2.6rem;
    -webkit-text-stroke-color: rgb(42, 216, 255);
    -webkit-text-stroke-width: 1px;
    text-shadow: 3px 10px 4px  rgba(0, 0, 0, 0.35);
    
    
}
button{
    padding: 15px 25px;
    font-size: 1.3em;
    font-weight:  600;
   
   margin-top: 4%;
   margin-left: 41%;
    color: #fff9f9;
    background-color: #3a3737;
    letter-spacing: 3px;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease;
}

button:hover{
    transform: translateY(-20px);
    color: rgb(42, 216, 255);
   box-shadow: 0px 16px 16px black;

}


@keyframes first22 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.99;
    }
    
}
.card{
    background-color: #252121;
    color: white;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s ease;
}
.heart{
    position:absolute ;
    top: 6%;
    width: 10%;
    fill: rgb(255, 255, 255);
    height:7%;
    left: 88%;
    
       
    
}




.card h3{
    left: 3%;
    position: absolute;
    top: 72%;
    
    
}
.card p{
   position: absolute;
   top: 85%;
   left: 3%;
}
.card img{
    
    height: 100%;
    width: 100%;
    border-radius: inherit;
}


.card:hover{
    scale: 104%;
}
.cardlet{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    transition: 0.2s;
}
.cardlet:hover{
    opacity: 1;
}

.black{
    margin-left: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-top: 50pt;
   animation: blackk 2s ease ;
    height:60px;

}
@keyframes blackk {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
    
}

.button{
    padding: 16px;
    border-radius: 8px;
    color: white;
   letter-spacing: 1px;
     font-weight: bolder;
     border:2px  ;
     margin-left: 0px;
    
}
.contact{
    background-color: rgb(42, 216, 255);
    margin-right: 10pt;
    color: #000;
    transition: all 0.2s;
    
}

.project{
    margin-left: 15px;
    border: 1px solid black;
    transition: all 0.2s;
}
.project:hover{ 
   
   border: solid  rgb(42, 216, 255);
}

.contact:hover{
   
   border: solid  rgb(42, 216, 255);
   background-color: #000;
   color: white;
}

#logo{
    margin-top: 250px;
    margin-left: 70px;
    width: 45%;
    fill: transparent;
    animation: logoc 0.5s  forwards 1.9s;
   
}
@keyframes logoc {
    from{
        fill: transparent;

    }
    to{
        fill: rgb(42, 216, 255);
        stroke-width: 0;
    }
}
#logo path:nth-child(1){
  stroke-dasharray: 325.32977294921875 ;
  stroke-dashoffset: 325.32977294921875;
  animation: anime 2s ease forwards;

   
}

#logo path:nth-child(2){
    stroke-dasharray: 134.080078125;
    stroke-dashoffset: 134.080078125;
    animation: anime 2s ease forwards;

}


#logo path:nth-child(3){
     stroke-dasharray: 265.8244934082031;
     stroke-dashoffset: 265.8244934082031;
     animation: anime 2s ease forwards;

}

#logo path:nth-child(4){
    stroke-dasharray:  297.7601318359375 ;
    stroke-dashoffset: 297.7601318359375;
    animation: anime 2s ease forwards;

}

#logo path:nth-child(5){
    stroke-dasharray:273.4771728515625 ;
    stroke-dashoffset: 273.4771728515625;
    animation: anime 2s ease forwards;

}
#logo path:nth-child(6){
  stroke-dasharray: 213.6143035888672;   
  stroke-dashoffset: 213.6143035888672;
  animation: anime 2s ease forwards;

}

#logo path:nth-child(7){
    stroke-dasharray: 293.0184020996094;
    stroke-dashoffset: 293.0184020996094;
    animation: anime 2s ease forwards;

}

#logo path:nth-child(8){
    stroke-dasharray: 273.4766845703125;
    stroke-dashoffset: 273.4766845703125;
    animation: anime 2s ease forwards;

}

#logo path:nth-child(9){
    stroke-dasharray: 265.824462890625;
    stroke-dashoffset: 265.824462890625;
    animation: anime 2s ease forwards;

}

#logo path:nth-child(10){
    stroke-dasharray: 179.11676025390625;
    stroke-dashoffset: 179.11676025390625;
    animation: anime 2s ease forwards;

    
}

#logo path:nth-child(11){
    stroke-dasharray: 409.46917724609375;
    stroke-dashoffset: 409.46917724609375;
    animation: anime 2s ease forwards;

}

#logo path:nth-child(12){
    stroke-dasharray: 265.82464599609375;
    stroke-dashoffset: 265.82464599609375;
    animation: anime 2s ease forwards;

    
}

#logo path:nth-child(13){
    stroke-dasharray: 134.0800018310547;
    stroke-dashoffset: 134.0800018310547;
    animation: anime 2s ease forwards;
}
@keyframes anime {
    to{
        stroke-dashoffset: 0;
    }
    
}

.sec2{
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: rgb(26, 28, 28);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 25px;
}
footer{
    height: 300px;
    text-align: center;
    background-color: #252121;
}
footer p{
  margin-top: 100px;
  font-size: 40px;
  color: white;
}

.sqare{
    width: 40px;
    height: 40px;
    background-color: #533d3d;
    position: relative;
}
.one{
    left: 200px;
    z-index: 1;
    top: -55px;
    transition: all 0.5s;
}
.two{
    left:90px;
    z-index: 2;
    top: -90px;
    transition: all 0.5s;
}

.three{
    left: 400px;
    top: -120px;
    z-index: 1;
    transition: all 0.5s;
}


.one1:hover{
  transform: translate(30px,-40px);
}
.two1:hover{
   transform: translate(-30px ,-40px);
}
.three1:hover{
    transform: translateY(40px);
}